In [2]:
import numpy as np
import pandas as pd
nrows,ncols = 100000, 100
rng = np.random.RandomState(42)
df1, df2, df3, df4 = (pd.DataFrame(rng.rand(nrows,ncols))for i in range(4))

 df1, df2, df3, df4 = (pd.DataFrame(rng.rand(nrows,ncols))for i in range(4))                
here we use rng to reduce                                                                       
execution time instead of calling everytime                                                   
then now we use rand function                                                                          
to populate with random values                                                                    
now we use for loop to do the same for all 4 datasets                                      
(nrows,ncols) are used so we create a dataset with 10000 rows and 100 columns of each

In [3]:
df1

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.374540,0.950714,0.731994,0.598658,0.156019,0.155995,0.058084,0.866176,0.601115,0.708073,...,0.119594,0.713245,0.760785,0.561277,0.770967,0.493796,0.522733,0.427541,0.025419,0.107891
1,0.031429,0.636410,0.314356,0.508571,0.907566,0.249292,0.410383,0.755551,0.228798,0.076980,...,0.093103,0.897216,0.900418,0.633101,0.339030,0.349210,0.725956,0.897110,0.887086,0.779876
2,0.642032,0.084140,0.161629,0.898554,0.606429,0.009197,0.101472,0.663502,0.005062,0.160808,...,0.030500,0.037348,0.822601,0.360191,0.127061,0.522243,0.769994,0.215821,0.622890,0.085347
3,0.051682,0.531355,0.540635,0.637430,0.726091,0.975852,0.516300,0.322956,0.795186,0.270832,...,0.990505,0.412618,0.372018,0.776413,0.340804,0.930757,0.858413,0.428994,0.750871,0.754543
4,0.103124,0.902553,0.505252,0.826457,0.320050,0.895523,0.389202,0.010838,0.905382,0.091287,...,0.455657,0.620133,0.277381,0.188121,0.463698,0.353352,0.583656,0.077735,0.974395,0.986211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0.071979,0.439323,0.188588,0.586705,0.640611,0.662409,0.318503,0.600419,0.609742,0.390592,...,0.122887,0.491140,0.032855,0.567250,0.428673,0.421092,0.021024,0.398596,0.405897,0.869783
99996,0.313411,0.010490,0.469216,0.600825,0.451085,0.496918,0.983128,0.422056,0.719077,0.045588,...,0.072444,0.715574,0.300257,0.087290,0.130703,0.549202,0.287877,0.589258,0.516884,0.254370
99997,0.560873,0.647396,0.043068,0.282439,0.042950,0.346690,0.954034,0.603182,0.447768,0.888498,...,0.880079,0.508377,0.442052,0.621332,0.314942,0.131085,0.697310,0.111705,0.397560,0.988347
99998,0.710115,0.067999,0.611329,0.136199,0.054724,0.018160,0.911428,0.762005,0.245312,0.891027,...,0.249632,0.894231,0.342761,0.844330,0.659797,0.835561,0.117920,0.211202,0.931760,0.296913
99999,0.116834,0.461155,0.754556,0.250272,0.864631,0.588966,0.358260,0.655541,0.946702,0.145819,...,0.298095,0.496018,0.990856,0.368719,0.837910,0.244971,0.061637,0.933295,0.245149,0.388890

In [4]:
df2

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.926538,0.382461,0.871469,0.761471,0.328826,0.988821,0.120738,0.358905,0.954462,0.004711,...,0.310465,0.816988,0.930747,0.111477,0.772517,0.801181,0.466825,0.005912,0.705110,0.487674
1,0.715167,0.490948,0.904532,0.319521,0.582585,0.980330,0.019068,0.089363,0.281105,0.143648,...,0.433028,0.132540,0.263659,0.339079,0.234842,0.507921,0.544545,0.197424,0.432392,0.218104
2,0.975796,0.049902,0.092684,0.158453,0.858309,0.652550,0.681106,0.360168,0.843117,0.619341,...,0.156821,0.772316,0.412088,0.796167,0.548580,0.722526,0.141587,0.459266,0.128221,0.661666
3,0.369458,0.911366,0.892686,0.763454,0.581681,0.207756,0.024249,0.925860,0.191849,0.047043,...,0.313598,0.566552,0.844425,0.079068,0.338430,0.921877,0.856621,0.285027,0.505441,0.571166
4,0.794953,0.714644,0.652743,0.639999,0.801813,0.223324,0.468607,0.409739,0.846211,0.488558,...,0.349061,0.986111,0.389271,0.428010,0.645183,0.998789,0.805533,0.310009,0.876316,0.946936
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0.973490,0.631437,0.720622,0.141930,0.355449,0.638325,0.599268,0.267570,0.715158,0.909540,...,0.720632,0.069631,0.567910,0.373837,0.513205,0.318192,0.354705,0.785753,0.625627,0.893857
99996,0.704523,0.936341,0.711619,0.495312,0.029808,0.207772,0.673689,0.776497,0.871136,0.088103,...,0.636035,0.532702,0.744088,0.741955,0.967174,0.998244,0.632177,0.080062,0.289840,0.382859
99997,0.649755,0.352855,0.114277,0.826643,0.763885,0.168768,0.404275,0.079896,0.169630,0.953930,...,0.352673,0.635799,0.674737,0.290065,0.463327,0.358685,0.952076,0.979473,0.186088,0.000481
99998,0.975367,0.295327,0.642940,0.521112,0.592903,0.216556,0.203385,0.618827,0.191058,0.853803,...,0.229260,0.459856,0.601687,0.851845,0.740290,0.732748,0.416686,0.585025,0.785590,0.161383
99999,0.717863,0.281573,0.188958,0.903531,0.730933,0.826813,0.491981,0.364553,0.069016,0.354719,...,0.443628,0.101887,0.265541,0.134110,0.664314,0.536308,0.656200,0.041181,0.339916,0.646908

In [9]:
%timeit df1+df2+df3+df4

78.8 ms ± 6.8 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [10]:
%timeit pd.eval('df1+df2+df3+df4')

35.2 ms ± 906 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

### As we can see the execution time has clearly reduced

In [7]:
np.allclose((df1+df2+df3+df4),pd.eval('df1+df2+df3+df4'))

True

 it returns true if the result of both of them are true else false

### arithmetic operations

In [42]:
df1,df2,df3,df4,df5 = (pd.DataFrame(rng.randint(0,1000,(100,3)))
                  for i in range(5))

 it populates 5 dataframes with values starting from 0 to 1000            
it has a size of 100 rows and 3 columns              
rng is defined earlier with RandomState(42) so that the random values generated does not change with execution

In [43]:
df1

      0    1    2
0   710  676  749
1   813  241  915
2   421  476  480
3   850  463  934
4   347  522  819
..  ...  ...  ...
95  617  472  720
96  506  204  167
97  378  603  630
98  714  893  806
99  974  209  810

[100 rows x 3 columns]

In [44]:
result1 = -df1 * df2 / (df3 + df4) - df5
result2 = pd.eval('-df1 * df2 / (df3 + df4) - df5')
np.allclose(result1,result2)

True

In [45]:
%timeit result1

59.2 ns ± 0.913 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [46]:
%timeit result2

47.5 ns ± 2.84 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

### note that eval only takes string as input so only use '  '

In [47]:
np.version()

TypeError: 'module' object is not callable

In [53]:
np.__version__

'1.23.5'

### comparison operator

In [52]:
result1 =(df1 < df2) & (df2 <= df3) & (df3 != df4)
result2 = pd.eval('(df1 < df2) & (df2 <= df3) & (df3 != df4)')
np.allclose(result1,result2)

True

### bitwise operator

In [55]:
result1 = (df1 < 0.5) & (df2 < 0.5) | (df3 < df4)
result2 = pd.eval('(df1 < 0.5) & (df2 < 0.5) | (df3 < df4)')
np.allclose(result1,result2)

True

In [56]:
%timeit result1

60.2 ns ± 0.294 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [57]:
%timeit result2

60.4 ns ± 0.286 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [58]:
result3 = pd.eval('(df1 < 0.5) and (df2 < 0.5) or (df3 < df4)')
np.allclose(result2,result3)

True

In [59]:
%timeit result3

53.2 ns ± 4.61 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

 we can also used keywords such as and and or instead of & and |

### column-wise operation

In [74]:
df = pd.DataFrame(rng.rand(1000,3),columns = ['A','B','C'])
df.head()

          A         B         C
0  0.148013  0.810178  0.468311
1  0.425177  0.503878  0.634451
2  0.143661  0.544381  0.184145
3  0.727018  0.398071  0.798826
4  0.745364  0.595063  0.835064

In [75]:
result1 = (df['A']+df['B']) / (df['C']-1)
result2 = pd.eval("(df['A']+df['B']) / (df['C']-1)")
np.allclose(result1,result2)

ValueError: data type must provide an itemsize

In [76]:
result1 = (df['A']+df['B']) / (df['C']-1)
result2 = pd.eval("(df.A+df.B) / (df.C-1)")
np.allclose(result1,result2)

True

In [77]:
result3 = df.eval('(A+B)/(C-1)')
np.allclose(result2,result3)

True

## adding a new column in a DataFrame

In [80]:
df.eval('D = (A+B)')

            A         B         C         D
0    0.148013  0.810178  0.468311  0.958190
1    0.425177  0.503878  0.634451  0.929056
2    0.143661  0.544381  0.184145  0.688042
3    0.727018  0.398071  0.798826  1.125089
4    0.745364  0.595063  0.835064  1.340427
..        ...       ...       ...       ...
995  0.776994  0.535671  0.926971  1.312665
996  0.431220  0.565792  0.113731  0.997012
997  0.261324  0.301431  0.365041  0.562755
998  0.408466  0.427195  0.732273  0.835661
999  0.825433  0.618614  0.524437  1.444047

[1000 rows x 4 columns]

In [81]:
df

            A         B         C
0    0.148013  0.810178  0.468311
1    0.425177  0.503878  0.634451
2    0.143661  0.544381  0.184145
3    0.727018  0.398071  0.798826
4    0.745364  0.595063  0.835064
..        ...       ...       ...
995  0.776994  0.535671  0.926971
996  0.431220  0.565792  0.113731
997  0.261324  0.301431  0.365041
998  0.408466  0.427195  0.732273
999  0.825433  0.618614  0.524437

[1000 rows x 3 columns]

 you see eventhough you added a new column since you did not give inplace the operation did not             
get afected in the original table

In [70]:
df.eval('D = (A+B)',inplace=True)
df

            A         B         C         D
0    0.876529  0.024433  0.554679  0.900962
1    0.158917  0.247287  0.038619  0.406204
2    0.088836  0.763975  0.743225  0.852811
3    0.496724  0.529605  0.286836  1.026329
4    0.946466  0.673888  0.078722  1.620354
..        ...       ...       ...       ...
995  0.501263  0.398217  0.778836  0.899479
996  0.045402  0.722676  0.045683  0.768078
997  0.412850  0.125680  0.163177  0.538530
998  0.256159  0.570129  0.464632  0.826289
999  0.515183  0.560789  0.321999  1.075972

[1000 rows x 4 columns]

In [71]:
df.eval('D = (A+B)',inplace=False)
df

            A         B         C         D
0    0.876529  0.024433  0.554679  0.900962
1    0.158917  0.247287  0.038619  0.406204
2    0.088836  0.763975  0.743225  0.852811
3    0.496724  0.529605  0.286836  1.026329
4    0.946466  0.673888  0.078722  1.620354
..        ...       ...       ...       ...
995  0.501263  0.398217  0.778836  0.899479
996  0.045402  0.722676  0.045683  0.768078
997  0.412850  0.125680  0.163177  0.538530
998  0.256159  0.570129  0.464632  0.826289
999  0.515183  0.560789  0.321999  1.075972

[1000 rows x 4 columns]

In [69]:
df.head()

          A         B         C         D
0  0.876529  0.024433  0.554679  0.900962
1  0.158917  0.247287  0.038619  0.406204
2  0.088836  0.763975  0.743225  0.852811
3  0.496724  0.529605  0.286836  1.026329
4  0.946466  0.673888  0.078722  1.620354

 so if inplace is True the operation is performed            
but nothing is returned            
whereas if inplace is False the copy is returned

# using local variables

In [84]:
col_mean = df.mean(0) #if 0 means column wise
col_mean

A    0.482810
B    0.496091
C    0.497669
dtype: float64

In [86]:
row_mean = df.mean(1) #if 1 means row wise
result1 = df['A']+row_mean
result2 = df.eval('A + @row_mean')
print(np.allclose(result1,result2))
row_mean

True

0      0.475500
1      0.521169
2      0.290729
3      0.641305
4      0.725164
         ...
995    0.746545
996    0.370248
997    0.309265
998    0.522645
999    0.656161
Length: 1000, dtype: float64

In [90]:
col_mean = df.mean(0) #if 0 means column wise
col_mean

A    0.482810
B    0.496091
C    0.497669
dtype: float64

In [91]:
result1 = df['A']+col_mean
result2 = df.eval('A + @col_mean')

In [92]:
result1

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
998   NaN
999   NaN
A     NaN
B     NaN
C     NaN
Length: 1003, dtype: float64

 this is because A column has 1000 values but col_mean variable has only 3 values                
you cannot possibly add 3 values and 100 values together and hence NaN

# Query () is used for filter operation

In [94]:
result1 = df[(df.A < 0.5) & (df.B < 0.5)]
result2 = pd.eval('df[(df.A < 0.5) & (df.B < 0.5)]')
np.allclose(result1 , result2)

True

In [95]:
result3 = df.query('A < 0.5 and B < 0.5')
np.allclose(result1,result2)

True

 here we simply just use A and < or > directly

In [96]:
Cmean = df['C'].mean()
result1 = df[(df.A < Cmean) & (df.B <Cmean)]
result2 = df.query('A < @Cmean and B < @Cmean')
np.allclose(result1,result2)

True

since we use local variables such as Cmean we use @ symbol while accessing                
local variables in a query()